  body {
      background-image: url(../img/bg.jpg);
      background-size: cover;
  }
  
  .bord {
      border: 1px solid black;
  }
  
  .shad,
  #liste-notes>* {
      box-shadow: 5px 5px 25px black;
      margin-bottom: 20px;
  }
  
  #main-section {
      padding: 5px;
  }
  
  #edition-note {
      width: 250px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      /* min-height: 500px; */
      /* Gestion de couleur */
      background-color: darkkhaki;
      border-radius: 5px;
  }
  
  .note,
  #liste-note>* {
      background-color: darkkhaki;
      border-radius: 5px;
      max-width: 300px;
      border: 1px solid black;
      margin-left: 10px;
  }
  
  #liste-note {
      background-color: rgba(128, 128, 128, 0.4);
      padding: 10px 0 10px 10px;
  }
  
  table {
      text-align: center;
      width: 100%;
  }
  
  #js-loaded {
      text-align: center;
      background-color: RED;
      color: white;
      font-weight: 900;
      font-style: italic;
      text-decoration: aqua underline;
  }
  
  .note-user-img {
      width: 64px;
      max-height: 128px;
      size: auto;
  }